/* layout.css */


.menu-offset {
  padding-top: var(--spacing-menu-offset);
  background-color: var(--color-background);
  min-height: calc(100vh - var(--spacing-menu-offset));
}

.page-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px var(--spacing-page-container-padding);
}