.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0; /* Remove padding to adapt to elements */
    background-color: rgba(248, 249, 250, 0.8); /* Light background color with transparency */
    border-bottom: 4px solid #2aaec9; /* Blue line at the bottom */
    z-index: 10; /* Ensure menu is above other elements */

    position: fixed; /* Fix the position of the menu */
    width: 100%; /* Make the menu full width */
}

.logo img {
    width: 100px; /* Set logo size to 100px */
    height: auto; /* Maintain aspect ratio */
    margin-left: 15px; /* Add left margin to the logo */

}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.menu-buttons button {
    margin: 0 10px; /* Add horizontal margin */
    padding: 10px 15px;
    border: none;
    background-color: transparent; /* Set button background to transparent */
    color: black; /* Change button text color to black */
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px; /* Increase font size */
    font-weight: bold;

}

.menu-buttons button:hover {
    background-color: rgba(173, 216, 230, 0.3); /* Light blue semi-transparent on hover */
}
