.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0; /* Remove padding to adapt to elements */
    background-color: var(--color-gray-light);
    border-bottom: var(--border-width) solid var(--color-primary);
    z-index: var(--z-index-menu);

    position: fixed; /* Fix the position of the menu */
    width: 100%; /* Make the menu full width */
}

.logo img {
    width: 100px; /* Set logo size to 100px */
    height: auto; /* Maintain aspect ratio */
    margin-left: var(--spacing-md); /* Add left margin to the logo */

}

.logo {
    font-size: var(--font-size-xlarge);
    font-weight: var(--font-weight-bold);
}

.menu-buttons button {
    margin: 0 var(--spacing-sm); /* Add horizontal margin */
    padding: var(--spacing-sm) var(--spacing-md);
    border: none;
    background-color: transparent; /* Set button background to transparent */
    color: var(--color-text); /* Change button text color to black */
    cursor: pointer;
    border-radius: var(--border-radius-sm);
    font-size: var(--font-size-large); /* Increase font size */
    font-weight: var(--font-weight-bold);

}

.menu-buttons button:hover {
    background-color: var(--color-primary-light); /* Light blue semi-transparent on hover */
}

.user-greeting {
    margin: 0 15px;
    color: #333;
    font-weight: 500;
  }