.page-title {
  font-size: 2.2rem;
  font-weight: 700;
  margin: 1.5rem 0 2rem;
  color: var(--color-primary-dark);
  position: relative;
  padding-bottom: 0.8rem;
  line-height: 1.2;
  padding: 20px;
}

.page-title::after {
  content: '';
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 80px;
  height: 4px;
  background: linear-gradient(90deg, var(--color-primary), var(--color-primary-light));
  border-radius: 2px;
}

.page-title-text {
  display: inline-block;
  margin-left: 0;

}
